services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest # 
    container_name: mealie
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "9925:9000" # 
    deploy:
      resources:
        limits:
          memory: 1000M # 
    volumes:
      - ${DATA_FOLDER}:/app/data/
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: "false"
      PUID: 1000
      PGID: 1000
      TZ: Europe/Warsaw
      BASE_URL: ${YOUR_DOMAIN:-https://mealie.yourdomain.com}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - mealie-net

networks:
  mealie-net:
    driver: bridge