services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    ports:
      - 5678:5678
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
      - ${PATH_TO_FILES}:/files
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:5678/healthz || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
volumes:
  n8n_data:
