services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ee:latest
    ports:
      - 9443:9443
      - 8000:8000
    volumes:
        - ${PORTAINER_DATA}:/data
        - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9000/api/status"]
      interval: 1m
      timeout: 10s
      retries: 3